<!-- <h1>All deliveries</h1>

<div class="deliveries-container">
    <div *ngFor="let delivery of deliveries" class="delivery-item">
      <div class="delivery-header">
        <span class="delivery-title">{{ delivery.title }}</span>
        <span class="delivery-state"> {{ delivery.state }}</span>
      </div>
    </div>
</div> -->

<h1>All deliveries</h1>

<div class="deliveries-container">
  <div *ngFor="let delivery of deliveries" class="delivery-item" (click)="navigateTo('/delivery/' + delivery.id)">
    <div class="delivery-header">
      <span class="delivery-title">{{ delivery.title }}</span>
      <span class="delivery-state">{{ delivery.state }}</span>
    </div>
  </div>
</div>

  
  