/* deliveries.component.css */

.deliveries-container {
    margin-top: 20px;
  }
  
  .delivery-item {
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    transition: background-color 0.3s; /* Ajout d'une transition pour un effet de survol */
  }
  
  .delivery-item:hover {
    background-color: #f0f0f0; /* Couleur de survol */
  }
  
  .delivery-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .delivery-title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .delivery-state {
    padding: 5px;
    border-radius: 5px;
    color: black;
    font-size: 12px;
    text-align: center;
  }
  
  .preparation {
    background-color: #ffc107; /* yellow */
  }
  
  .transit {
    background-color: #007bff; /* blue */
  }
  
  .delivered {
    background-color: #28a745; /* green */
  }
  
  .order-list {
    margin-top: 10px;
  }
  
  .order-item {
    display: block;
    margin-bottom: 5px;
  }
  