.users-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;
}  

.mat-header-cell {
    text-align: center;
}

.mat-cell {
    padding: 2%;
    white-space: normal;
    word-wrap: break-word;
}