  .title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 3%;
    margin-bottom: 10%;
  }
  .delivery-state {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 3%;
    text-align: center;
  }
  
  .boxes, .surplus {
    padding: 15px;
    border-radius: 5px;
    
  }
  .surplus{
    margin-bottom: 5%;
  }
  
  .boxes, .surplus {
    font-size: 15px;
  }

  .composition {
    justify-self: end;
  }
  
  .orders-container {
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .order-item {
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    padding: 3%;
    transition: background-color 0.3s;
    display: block;
  }
  
  .order-item:last-child {
    border-bottom: none;
  }
  
  .order-item:hover {
    background-color: #f0f0f0;
  }
  
  .order-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .order-details {
    display: flex;
    flex-direction: column;
  }
  
  .order-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10%;
  }
  
  .order-state {
    justify-self: end;
  }
  