<div *ngIf="orderError" class="error-message">Il existe déja une livraison pour ce client</div>
<form [formGroup]="orderForm" (ngSubmit)="onSubmit()" class="centered-form">

  <div class="form-field">
    <mat-form-field>
      <mat-label>Client Name</mat-label>
      <mat-select formControlName="clientId">
        <mat-option *ngFor="let client of clientNames" [value]="client.id">
          {{ client.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="orderForm.get('clientId')?.hasError('required')">Client Name is required</mat-error>
    </mat-form-field>
  </div>
  
  <div class="form-field">
    <mat-form-field>
      <mat-label>Delivery</mat-label>
      <mat-select formControlName="deliveryId">
        <mat-option *ngFor="let delivery of deliveries" [value]="delivery.id">
          {{ delivery.title }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="orderForm.get('deliveryId')?.hasError('required')">Delivery is required</mat-error>
    </mat-form-field>
  </div>
  
    <div class="form-field">
      <mat-form-field>
        <mat-label>Article</mat-label>
        <mat-select formControlName="articleId">
          <mat-option *ngFor="let article of articles" [value]="article.id">
            {{ article.label }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="orderForm.get('articleId')?.hasError('required')">Article is required</mat-error>
      </mat-form-field>
    </div>
  
    <div class="form-field">
      <mat-form-field>
        <mat-label>Quantity</mat-label>
        <input matInput type="number" formControlName="quantity">
        <mat-error *ngIf="orderForm.get('quantity')?.hasError('required')">Quantity is required</mat-error>
        <mat-error *ngIf="orderForm.get('quantity')?.hasError('min')">Quantity must be at least 1</mat-error>
      </mat-form-field>
    </div>
  
    <div class="form-field">
      <button mat-raised-button color="primary" type="submit" [disabled]="orderForm.invalid">Submit</button>
    </div>
  
  </form>
  