<h2>Créer un utilisateur</h2>
<div id="loginform">
    <mat-form-field>
        <mat-label>Votre identifiant</mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Votre mot de passe</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid && email.touched">
            {{ getErrorMessage() }}
        </mat-error>
    </mat-form-field>
</div>
<div id="loginButton">
    <button mat-raised-button>Connexion</button>
</div>
