<div class="center-text">
    <h2>Bonjour Dylan</h2>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>Tournées</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="panel-content">
            <button mat-raised-button color="primary" (click)="navigateTo('/deliveries')">Voir les Tournées</button>  <!--change path-->
            <button mat-raised-button color="primary" (click)="navigateTo('/login')">Gérer livreurs</button>  <!--change path-->
            <button mat-raised-button color="primary" (click)="navigateTo('/users')">Gérer les Tournées</button>  <!--change path-->
        </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
        <mat-panel-title>Administrtion</mat-panel-title> 
        </mat-expansion-panel-header>       
        <div class="panel-content">
            <button mat-raised-button color="primary" (click)="navigateTo('/users')">admin</button>  <!--change path-->
        </div>
    </mat-expansion-panel>
</div>
