#title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 3%;
    margin-top: 15%;

}

#wrapperDeliveriesForm{
    display: flex;
    flex-direction: column;
    width : 100%;
    margin-top: 15%;
    justify-content: center;
    align-items: center;
}

#deliveriesForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#registerButton{
    margin-top: 5%;
}