<div id="wrapperDeliveriesForm">
    <form id="deliveriesForm" [formGroup]="deliveriesForm" (ngSubmit)="onSubmit()" class="centered-form">
        <mat-form-field>
            <mat-label>Nom de la tournée</mat-label>
            <input formControlName="title" matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Clients</mat-label>
            <mat-select multiple formControlName="clientlist">
                <mat-option *ngFor="let client of clientlist" [value]="client.id">
                    {{ client.name }}
                </mat-option>
            </mat-select>
        </mat-form-field>
        

        <div class="registerButton">
            <button mat-raised-button type="submit" [disabled]="deliveriesForm.invalid">Créer</button>
        </div>
    </form>
</div>