<section class="order" *ngIf="order">
    <h1 class="title">Detail de la commande</h1>
    <article class="order-header">
        <ul>
            <li>
                <p>Numéro de commande : {{ order?.id }}</p>
            </li>
            <li>
                <p>Client : {{ order?.client?.name }}</p>
            </li>
            <li>
                <p>Adresse : {{ order?.client?.address }}</p>
            </li>
        </ul>
    </article>
    <p>Etat de la commande : {{ order?.state }}</p>
    <article class="order-detail">
        <table mat-table [dataSource]="order.orderDetails" class="order-detail-table">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nom </th>
                <td mat-cell *matCellDef="let element"> {{ articleNameMap.get(element.articleId)}} </td>
            </ng-container>

            <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef> Caisses </th>
                <td mat-cell *matCellDef="let element">
                    <div class="quantity-container">
                        <div *ngIf="!element.editing; else displayQuantity" class="displayQuantity">
                            {{ element.quantity }}
                        </div>
                        <ng-template #displayQuantity>
                            <div class="editing-container">
                                <input *ngIf="element.editing" type="number" [(ngModel)]="element.newQuantity" (keyup.enter)="saveQuantity(element)" class="small-input"/>
                                <button *ngIf="element.editing" class="btn-save" mat-icon-button color="primary" (click)="saveQuantity(element)">
                                    <mat-icon>done</mat-icon>
                                </button>
                            </div>
                        </ng-template>
                    </div>
                </td>
            </ng-container>
              
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element" class="actions">
                  <button *ngIf="isUserAdmin()" class="btn" mat-icon-button color="primary" (click)="toggleEdit(element)">
                    <mat-icon>{{ element.editing ? '' : 'edit' }}</mat-icon>
                  </button>
                  <button *ngIf="element.editing" class="btn" mat-icon-button color="primary" (click)="saveQuantity(element)"></button>
                </td>
              </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </article>
</section>